
<div>
    <h2>Attraction Listing</h2>
    <nav>
        <ul>
            <li ng-init="order = 'name'" ng-click="order = 'name'">Attractions</li>
            <li ng-click="order = 'startTime'">Attraction Times</li>
            <li ng-click="order = 'rating'">Attraction Ratings</li>
        </ul>
    </nav>
</div>
<div class="row" ng-repeat="attraction in controller.attractions | orderBy:order">
   
    <div>
     
       <a href="#/info/{{attraction.id}}">  <img ng-src="{{attraction.pictureUrl}}" height="175" width="175"></a>
       {{attraction.name}}
    </div>


</div>