<h3 class="text-center">Attraction Listing</h3>
 <div class="row">
    <nav>
        <div class="boxtext col-md-4 text-left">
            <h4 ng-init="order = 'name'" ng-click="order = 'name'">Attractions</h4>
        </div>


        <div col-offset-1 col-md-4 class="boxtext col-md-4 text-center">
            <h4 ng-click="order = 'startTime'">Attraction Times</h4>
        </div>


        <div col-offset-1 col-md-4 class="boxtext col-md-4 text-right">
            <h4 ng-click="order = 'rating'">Attraction Ratings</h4>
        </div>
    </nav>
</div>
<br />


    <div class="row" ng-repeat="attraction in controller.attractions | orderBy:order">

        <div class="boxtext">
            <h3>
                <span style="display: block; margin: 0px auto; text-align: left;">
                    {{attraction.name}}
                </span>
            </h3>

            <a href="#/info/{{attraction.id}}">  <img ng-src="{{attraction.pictureUrl}}" height="175" width="175"></a>
                           
                    <h4>
                        <span style="display: block; margin: 0px auto; text-align: center;">

                            RATINGS

                            <span class="rate1">
                                <input disabled type="radio" ng-model="attraction.rating" value="5" />
                                <label for="rating5"></label>
                                <input disabled type="radio" ng-model="attraction.rating" value="4" />
                                <label for="rating4"></label>
                                <input disabled type="radio" ng-model="attraction.rating" value="3" />
                                <label for="rating3"></label>
                                <input disabled type="radio" ng-model="attraction.rating" value="2" />
                                <label for="rating2"></label>
                                <input disabled type="radio" ng-model="attraction.rating" value="1" />
                                <label for="rating1"></label>
                            </span>
                        </span>
                    </h4>

                    <h2>
                        <span style="display: block; margin: 0px auto; text-align: right;">
                            TIMES
                            {{attraction.events[0].startTime | date:"short"}}
                        </span>
                    </h2>
        </div> 
</div>