<div style="background-color: aliceblue">
    <div class="row" ng-repeat="comment in controller.comments">
        <h3>
            User Comments
        </h3>
        <div class="row">
            <img src="http://www.adsitsolutions.com/images/icons/grey/home-user-icon.png" 
                 height="75"
                 width="75" />
            <br />
            <strong>
                User {{comment.user.userName}} says:
            </strong>
            <br />
        </div>
        <div class="table-bordered">
            <div>
                <h4>
                    <strong>
                        Event Name:
                    </strong>
                     {{comment.attractionName}}

                    <span class="rate1">
                        <inpup disabled type="radio" ng-model="comment.rating" value="5" />
                        <label for="rating5"></label>
                        <input disabled type="radio" ng-model="comment.rating" value="4" />
                        <label for="rating4"></label>
                        <input disabled type="radio" ng-model="comment.rating" value="3" />
                        <label for="rating3"></label>
                        <input disabled type="radio" ng-model="comment.rating" value="2" />
                        <label for="rating2"></label>
                        <input disabled type="radio" ng-model="comment.rating" value="1" />
                        <label for="rating1"></label>
                    </span>
                </h4>
            </div>
            <div>
                {{comment.message}}
                <br />
            </div>
        </div>

    </div>
</div>
