<div>
    <div ng-show="comment in controller.comments">
    <h3>
        #Tag {{comment.tags}}
    </h3>
    </div>
    <div class="row" ng-repeat="comment in controller.comments">
        <div class="row">
            <img src="http://www.adsitsolutions.com/images/icons/grey/home-user-icon.png"
                 height="75"
                 width="75" />
            <br />
            <strong>
                User{{comment.user}}
            </strong>
            <br />
        </div>
        <div class="table-bordered">
            <div>
                <h4>
                <strong>
                    Attraction:
                </strong>
                Linking Park {{comment.attraction}}
                </h4>
                <p>
                    {{comment.attraction}}
                </p>
            </div>
            <div>
                {{comment.message}}
                <br />
            </div>
        </div>
        <br />
        <div class="text-right">
            <button type="button" class="btn btn-info">Pin</button>
        </div>
    </div>
</div>
