<div>
    <h3>
        #Tag {{comment.event.tags}}
    </h3>
    <div class="row" ng-repeat="comment in controller.comments">
        <div class="row">
            <img src="http://www.adsitsolutions.com/images/icons/grey/home-user-icon.png"
                 height="75"
                 width="75" />
            <br />
            <strong>
                User{{comment.user.userName}}
            </strong>
            <br />
        </div>
        <div class="table-bordered">
            <div>
                <h4>
                    <strong>
                        Attraction:
                    </strong>
                    Linking Park {{comment.attraction}}
                </h4>
                <p>
                </p>
            </div>
            <div>
                {{comment.message}}
                <br />
            </div>
        </div>
        <br />
        <div class="text-right">
            Pin : {{comment.event.pushpin}}
        </div>
    </div>
</div>
