<div class="row" ng-repeat="event in controller.events">
    <div class="col-lg-offset-1 col-md-5">
        <h3> Joining us today is {{event.attraction.name}}!!</h3>
    </div>
    <div class="col-lg-offset-1 col-md-4">
        Starting at :  {{event.startTime}}
        <br />
        Until :  {{event.endTime}}
    </div>
    <div class="col-lg-offset-4 col-md-1">
        {{event.pin}}
    </div>
    <div class="col-lg-offset-5 col-md-5">
        {{event.tags.name}}
    </div>
    <div class="col-lg-offset-2 col-md-3">
        <img ng-src="{{event.attraction.pictureUrl}}" height="500" width="800" />
        <div class="col-md-offset-12 col-md-12">
            <audio controls autoplay>
                <source ng-src="{{event.attraction.soundUrl}}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <br />

        </div>
    </div>


    <form class="col-md-offset-3 col-md-6" ng-submit="">
        <textarea style="font-size:12pt; height:100px; width:600px " placeholder="Enter Comments" class="form-control" ng-model="comment.message"></textarea>
        <div class="col-md-offset-8 col-md-6">
            <div class="rate">
                <label>
                    <input type="radio" ng-model="comment.rating" value="5" />
                    5 stars
                </label>
                <label>
                    <input type="radio" ng-model="comment.rating" value="4" />
                    4 stars
                </label>
                <label>
                    <input type="radio" ng-model="comment.rating" value="3" />
                    3 stars
                </label>
                <label>
                    <input type="radio" ng-model="comment.rating" value="2" />
                    2 stars
                </label>
                <label>
                    <input type="radio" ng-model="comment.rating" value="1" />
                    1 star
                </label>
            </div>
        </div>
        <br />

        <div class="col-md-offset-8 col-md-6">
            <input class="btn btn-success" type="submit" value="Submit" />
        </div>
    </form>
</div>