<form class="vertical-center" ng-submit="controller.register(user)">
    <h1 style="color:aquamarine">Fill out the below to create a new account</h1>
    <input ng-model="user.userName" placeholder="User Name" class="form-control" />
    <input ng-model="user.email" placeholder="Email" class="form-control" />
    <input ng-model="user.password" placeholder="Password" type="password" class="form-control" />
    <input ng-model="user.confirmPassword" placeholder="Confirm Password" type="password" class="form-control" />
    <input type="submit" class="form-control btn btn-success" value="Register" />
    <p>Or <a href="#/login">Log in here</a> for an existing account</p>
</form>