.map {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
body {
    background-color: white;
}

.map .pin-list {
    padding: 15px;
    border: 3px solid #3bc57f;
    background-color: #F4FCFF;
}

.map .pin-list li {
    list-style-type:circle;
    margin:35px;
}

.map .pin-list li:hover {
    color:black;
    background-color:#3bc57f;
    cursor:pointer;
}
.map .map-display {
    position: relative;
}

.map .pins span {
    position: absolute;
}

.holder li:hover {
    background-color: orange;
}

.holder li {
    list-style: circle;
    float: initial;
    display: list-item;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    display: inline;
    color: #982d2d;
    margin: 14px;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    float: left;
    clear: left;
}

.pin {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50% 50% 50% 0;
    background: #f33;
    box-shadow: 0 0 0 1px #c00, inset 0 1px 1px rgba(255,255,255,.6), 0 2px 2px rgba(0,0,0,.4);
    transform: rotate(-45deg);
}

    .pin:before {
        transform: rotate(45deg);
        content: attr(element-number);
        box-shadow: grey 0px 0px 4px;
        width: 13px;
        height: 13px;
        position: absolute;
        left: -16px;
        top: 20px;
        font-size: 10px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        border-radius: 50%;
        background: rgb(13, 111, 138);
        overflow: hidden;
        padding: 3px 0px 3px 3px;
    }

    .pin:hover:after {
        transform: rotate(45deg);
        background-color: darkgreen;
        color: orange;
        content: attr(alt);
        position: absolute;
        bottom: 0;
        width: 150px;
        font-size: 12px;
        color: orange;
        transition: all 0.3s ease;
        padding: 10px;
        border-radius: 5px;
        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
        text-align: center;
        margin-left: -25px;
    }

.all {
    position: absolute;
    width: 290px;
    top: 425px;
    left: 80px;
}
